body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: bisque;
}
h1{
    text-align: center;
    color: rgb(6, 139, 139);
    font-size: 4em;
    font-family: 400px;
}
.tolet-hotels div h3{ 
    text-align: center;
    color: aliceblue;
    padding: 20px 30px;
    margin: 8px 40%;
    background-color: rgb(235, 103, 103);
    font-size: 30px;
    border-radius: 20px;
}